{% extends "scrumdea/base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
    {% endif %}
    <h2>General ideas</h2>
    <a href="{% url "creategeneralidea" %}"> <button type="button" class="btn btn-success">Create new general idea</button></a>
    <p> <br> {{ title }}</p>
    {% for idea in idea_list %}

        <h3><strong>{{ idea.title }} </strong></h3>
        <strong>ID:</strong> {{ idea.id }}<br/>
        <strong>Description: </strong>{{ idea.description }}<br/>
        <strong>Votes: </strong>{{ idea.votes }}<br/>
        <a href="{% url "generalideadetailview" pk=idea.id %}"> <button type="button" class="btn btn-primary">Details</button></a>

    {% endfor %}
{% endblock %}